<tr>
  <td class="value"><%= movie.try(:id) %></td>
  <td class="value"><%= movie.try(:name) %></td>
  <td class="value"><%= movie.try(:alternative_name) %></td>
  <td class="value"><%= movie.try(:publish_date) %></td>
  <td class="value"><%= movie.try(:country) %></td>
  <td class="value"><%= movie.try(:movie_type) %></td>
  <td class="value"><%= movie.try(:view_count) %></td>
</tr>
