<tr>
  <td class="value"><%= movies_person.movie.try(:id) %></td>
  <td class="value"><%= movies_person.movie.try(:name) %></td>
  <td class="value"><%= movies_person.person.try(:name) %></td>
  <td class="value">
    <%= link_to edit_admin_movies_person_path(movies_person), class: "btn btn-xs btn-outline btn-success" do %>
    <i class="fas fa-pen"></i>
    <% end %>
    <%= link_to admin_movies_person_path(movies_person), class: "btn btn-xs btn-outline btn-danger",
      method: :delete, data:{confirm: "Do you want to delete?"} do %>
    <i class="fa fa-trash"></i>
    <% end %>
  </td>
</tr>