<%= form_for [:admin, @episode], html: {multipart: true} do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>

  <h3 style="margin-top: 20px;">Create new episode</h3>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :order %>
  <%= f.text_field :order, class: "form-control" %>

  <%= f.label :link %>
  <%= f.text_field :link, class: "form-control" %>

  <%= f.label :movie %>
  <%= f.select :movie_id, Movie.get_movie_type(1).collect {|u| [u.name, u.id]}, {:include_blank => true}, {:class => "form-control"} %>

  <div class="input-group action-button-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
    <%= f.button "Reset", class: "btn btn-default-btn", type: :reset %>
  </div>
<% end %>
